<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pablo_Ortiz</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>
       
        .navbar {
            background-color: #40E0D0; 
        }

        .navbar-brand {
            color: #ffffff !important; 
            font-weight: bold;
        }

        .navbar-nav .nav-link {
            background-color: #20B2AA; 
            color: #fff !important; 
            border-radius: 5px;
            padding: 8px 15px;
            margin: 5px;
            text-align: center;
            font-weight: bold;
        }

            .navbar-nav .nav-link:hover {
                background-color: #2E8B57; 
                color: #ffffff !important;
            }
        /* Estilo para el footer */
        .footer {
            background-color: #20B2AA; 
            color: #ffffff;
            padding: 10px 0;
            text-align: center;
        }

            .footer a {
                color: #ffffff;
                text-decoration: underline;
            }

                .footer a:hover {
                    color: #FFFAFA; 
                    text-decoration: none;
                }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Pablo_Ortiz</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Ubicacions" asp-action="Index">Ubicaciones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="TipoProductoes" asp-action="Index">Tipo Producto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Proveedors" asp-action="Index">Proveedores</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Proveedors" asp-action="ReporteProveedoresPorCiudad">Reporte Proveedores</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
